@model Abs.FixedAssets.Pages.Receiving.IndexModel
<span class="loc-pill">
    <i class="fas fa-truck-loading"></i>
    @Model.PendingReceiptCount Awaiting
</span>
<span class="loc-divider">/</span>
<span class="loc-pill">
    <i class="fas fa-check-circle"></i>
    @Model.ReceivedTodayCount Today
</span>
