@{
    var op = ViewData["Operation"] as Abs.FixedAssets.Models.BulkOperation;
}
@if (op != null)
{
    <div class="screen-header__context">
        <span class="loc-pill">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            @op.OperationDate.ToString("MMM dd, yyyy")
        </span>
        @if (!string.IsNullOrEmpty(op.ProcessedBy))
        {
            <span class="loc-divider">•</span>
            <span class="loc-pill">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
                @op.ProcessedBy
            </span>
        }
    </div>
}
