@model Abs.FixedAssets.Pages.Inventory.IndexModel
<div class="hero-tags"></div>
<div class="hero-btns">
    <button type="button" class="hero-btn hero-btn-primary" onclick="toggleInlineForm('newListForm')">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
        </svg>
        New Inventory List
    </button>
</div>
