@model Abs.FixedAssets.Pages.Materials.ItemsModel
@{
    var totalItems = Model.TotalCount;
    var withRevisions = Model.WithRevisionsCount;
}
<span class="loc-pill">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
    </svg>
    @totalItems Items
</span>
<span class="loc-divider">/</span>
<span class="loc-pill">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    @withRevisions With Revisions
</span>
